body
{
	margin:0px;
	padding:0px;
	background:linear-gradient(-100deg, blue,red,yellow);
}




header
{
	font-family:Bodoni MT Condensed;
	font-size:85px;
	font-weight:normal;
	border: 5px solid blue;
	text-align:center;
	padding: 20px;
	margin-right: 50px;
	margin-bottom:10px;
	margin-left: 50px;
	background-color:#5DC053;
	color:white;
	border-radius:15px;
	box-shadow:15px 12px 9px  white;;
	background:linear-gradient(180deg,#E65100,black );
}
nav
 {
	 font-family:Bodoni MT Condensed;
	font-size:25px;
	font-weight:normal;
	border: 5px solid blue;
	text-align:center;
	padding: 20px;
	margin-right: 1000px;
	position:absolute;
	top:210px;
	margin-top:30px;
	margin-bottom:10px;
	margin-left: 50px;
	background-color:#5DC053;
	color:white;
	border-radius:20px;
	box-shadow:15px 12px 9px  white;
 background:linear-gradient(180deg,#E65100,black  );

}
form
{

	 font-family:Bodoni MT Condensed;
	font-size:25px;
	font-weight:normal;
	border: 5px solid blue;
	text-align:center;
	padding: 20px;
	margin-right: 450px;
	position:absolute;
	top:210px; 
	margin-top:10px;
	margin-bottom:700px;
	margin-left: 480px;
	background-color:#5DC053;
	color:white;
	border-radius:20px;
	box-shadow:15px 12px 9px  white;
 background:linear-gradient(180deg,#E65100,black  );
	
}

section
{
	font-family:Bodoni MT Condensed;
	font-size:20px;
	font-weight:normal;
	border: 5px solid blue;
	text-align:center;
	padding: 20px;
	margin-right: 40px;
	position:absolute;
	bottom:13px;
	margin-top:10px;
	margin-bottom:60px;
	margin-left:1000px;
	background-color:#5DC053;
	color:white;
	border-radius:10px;
	box-shadow:15px 12px 9px  white;
	background:linear-gradient(180deg,#E65100,black  );
}
	
.activity
{
	
	font-family:Bodoni MT Condensed;
	font-size:30px;
	font-weight:normal;
	border: 5px solid blue;
	text-align:center;
	padding: 20px;
	margin-right: 80px;
	margin-left:500px;
	position:absolute;
	top:700px;
	margin-top:10px;
	margin-bottom:60px;
	background-color:#5DC053;
	color:white;
	border-radius:10px;
	box-shadow:15px 12px 9px  white; 
	background:linear-gradient(180deg,#E65100,black );
}
footer
{
font-family:Bodoni MT Condensed;
	font-size:30px;
	font-weight:normal;
	border: 5px solid blue;
	text-align:center;
	padding: 20px;
	margin-right: 50px;
	margin-bottom:0px;
	margin-top:1000px;
	margin-left: 50px;
	background-color:#5DC053;
	color:white;
	border-radius:15px;
	box-shadow:15px 12px 9px  white;
	background:linear-gradient(180deg,#E65100,black );
}
